<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.paygilant.mywallet">

    <uses-sdk tools:overrideLibrary="android.support.test.uiautomator.v18" />

    <uses-feature android:name="android.hardware.usb.host" />
    <uses-feature android:name="android.hardware.usb.accessory" />

    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:glEsVersion="0x00020000" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_wallet"
        android:roundIcon="@mipmap/ic_launcher_wallet_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <uses-library android:name="com.android.future.usb.accessory" />

        <activity
            android:name="com.paygilant.mywallet.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.paygilant.mywallet.OnLine.ByOnlineActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.paygilant.mywallet.OnWallet.Amount"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.paygilant.mywallet.Contact.ContactActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.paygilant.mywallet.OnWallet.ResultActivityAmount"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.paygilant.mywallet.ConnectActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity android:name=".SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>